.pantry {
    margin: 0px 0px 0px 0px;
    background-color: azure;
}

.pantry-heading {
    padding: 1rem;
    margin: auto;

}

.product-form {
    margin-left: 1rem;
    margin-right: 1rem;
}

.product-submit {
    align-self: flex-end;
    margin-bottom: 17px;
}