.recipes {
    padding: 1rem;
    margin: auto;
    width: 100%;
    padding: 70px 4rem 0px;
    /* display: block; */
}

.recipes-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    width: 100%;
    row-gap: 2rem;
}

.recipes-hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.utensil-img {
    height: 30px;
    width: 110px;
    margin: 0 3rem 0;
    object-fit: cover;
}

#left {
    transform: scaleY(-1);
    object-position: bottom;
}

#right {
    transform: scaleY(-1);
    object-position: 80% 0;
}

.recipes-border {
    position: relative;
    top: 0px;
    left: -2px;
    width: 25%;
    /* height: 20px; */
    /* object-fit: cover; */
    /* object-position: -20% 0; */
}

.recipes-heading {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    padding: 2.3rem 0 1rem 0;
    font-size: 40px;
    text-align: center;
}

.loader {
    margin-left: 45%;
}