.receipt-modal-content {
    font-family: 'Noto Sans JP', sans-serif;
    color: var(--fontContent);
}

.receipt-image-buttons {
    display: flex;
    justify-content: space-around;
    margin: 0.5rem;
}

.receipt-item-grid {
    display: grid;
}

.receipt-form-label {
    padding-left: 0.5rem;
    color: var(--fontSub);
}

.receipt-items {
    display: flex;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
}
