.marketplace {
    margin: auto;
    padding: 70px 0 0;
    margin-top: 1.5rem;
}

.marketplace-heading-container {
    margin-left: 6rem;
    background-image: url("../../icons/page_banner.jpeg");
    border-radius: 10px;
    padding: 2.5rem 1rem 0.5rem;
    margin-bottom: 1rem;
    background-size: cover;
    background-position: 0% 80%;
    margin-right: 2rem;
}

.marketplace-content {
    margin: 1.5rem 2rem 0 6rem;
    display: flex;
    justify-content: space-between;
}

h1.marketplace-heading {
    margin-bottom: 0.5rem;
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding: 0 0.5rem;
    background-color: #e3e7f0a9;
    width: fit-content;
    color: var(--fontHeading);
    width: fit-content;
}

.marketplace-heading-sub {
    font-size: 1.2rem;
    color: var(--fontSub);
    font-family: 'Lora', serif;
    margin-bottom: 0.5rem;
    background-color: #e3e7f0a9;
    padding: 0 0.5rem;
    width: fit-content;
}

.marketplace-sellers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 70%;
    color: var(--greenDark2);
    margin-right: 2rem;
}

.marketplace-side-content {
    width: 30%;
}

.marketplace-switch {
    padding: 1rem;
    width: 100%;
    height: fit-content;
    margin-bottom: 1rem;
    box-shadow: 3px 3px 5px gray;
    border-radius: 8px;
    background-color: var(--card);
    font-family: 'Noto Sans JP', sans-serif;
    color: var(--fontContent);
}

.btn-primary {
    background-color: var(--greenDark2) !important;
    border-color: var(--greenDark2) !important;
}

.btn-info {
    background-color: var(--brownDark) !important;
    border-color: var(--brownDark) !important;
}

.switch-handle {
    background-color: var(--background) !important;
}

.marketplace-slider {
    padding: 1rem;
    width: 100%;
    height: fit-content;
    box-shadow: 3px 3px 5px gray;
    border-radius: 8px;
    background-color: var(--card);
    font-family: 'Noto Sans JP', sans-serif;
    color: var(--fontContent);
}

.distance-heading {
    margin: 0;
    display: flex;
}

#distance {
    padding-left: 0.2rem;
}

#slider {
    width: 70%;
}