:root {
  --background: white; 
  --green1: #c0ca8e;
  --bars: #dad7cd;
  --green2: #a3b18a; 
  --green3: #c0c094;
  --greenDark2: #6b705c;
  --card: white;
  --brownDark: #b2967d;
  --fontContent: #283618;
  --fontSub: #606c38;
  --fontHeading: #453f1c;
  --recipeCard: #efece3;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
